@import url('../fonts/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

.satoshi {
    font-family: "Satoshi-Regular";
    font-weight: 400;
}

body {
    height: 8000px
}

.center {
    margin: 0 auto;
    text-align: center;
}

.cover > #heading {
    font-size: 24pt;
    margin-bottom: 0px;
}

.cover > #subtext {
    font-size: 18pt;
    font-style: italic;
}
