@import url('../fonts/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

.satoshi {
    font-family: "Satoshi-Regular";
    font-weight: 400;
}

body {
    height: 8000px;
    line-height: 1.25;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.cover > #heading {
    font-size: 24pt;
    margin-bottom: 0px;
}

.cover > #subtext {
    font-size: 18pt;
    font-style: italic;
}

.content {
    width: 600px;
    text-align: left;
    margin: 0 auto;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}
